.tech-card{
    padding: 1rem 0 1rem 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    font-size: large;
    font-weight: bold;
}

.tech-card img{
    width: 2rem;
    height: auto;
    margin-bottom: 0.5rem;
}