.app {
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  transition: background-color 0.25s ease-in-out;
}

.page-content{
  display: flex;
  justify-content: center;
}

.content{
  width: 70%;
}