@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

:root{
  --bg-color: #f2f3f4;
  --text-color: #3d3d3d;
  --secondary-text-color: #515a5a;
  --btn-bg: #28b463;
  --contrast-color: #28b463;
  --theme-toggle-bg: #f9e79f;
  --theme-toogle: #f5b041;
  --topbar-color: white;
  --footer-color: #dadada;
  --card-bg-color: #dadada;
}

[data-theme="dark"]{
  --bg-color: #282c31;
  --text-color: white;
  --secondary-text-color: #b3b6b7;
  --theme-toggle-bg: #2980b9;
  --theme-toogle: #154360;
  --topbar-color: #282c31;
  --footer-color: #2e3339;
  --card-bg-color: #3a4349;
  
}